body {
     position: relative;
 }
 div.boton-espacio{
   padding-bottom: 25px;
 }
 table th, tr, td{
   text-align: center;
 }
 td.accion{
   width: 140px;
 }
 .affix {
     top: 0;
     width: 100%;
     z-index: 9999 !important;
 }

 .navbar {
     margin-bottom: 0px;
 }

 .affix ~ .container-fluid {
     position: relative;
     top: 50px;
 }

 #section1 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section21 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section22 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section23 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section3 {
     padding-top: 50px;
     height: 500px;
     color: black;
 }

 #section4 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section51 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section52 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section6 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section7 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section8 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }

 #section9 {
     padding-top: 50px;
     height: 500px;
     color: black;

 }
